<script type="text/ng-template" id="/home.html">
  <div class="text-center" id="intro-container">
    <div id="intro-logo">
      <img src="images/imgur_logo_white.png"/>
    </div>
    <div id="intro-info">
      <p align="justify">
        Imgur is a site about sharing pictures!
      </p>
      <div class="text-center">
        <a href="/#/login-or-register" class="btn">
          Begin your journey!
        </a>
      </div>
    </div>
  </div>
</script>
