<script type="text/ng-template" id="/login-or-register.html">
  <div class="container">
    <div class="text-center" id="intro-container">
      <p>
        If you already are a member, you can log in using your account.<br/>
        If not, you can click register to create one.
      </p>
      <a href="/#/login" class="btn">Log In</a>
      <a href="/#/register" class="btn">Register</a>
    </div>
  </div>
</script>
