// Paddings, margins...
$nav-padding-vertical: .5em;
$nav-padding-horizontal: 1.5em;
$nav-height: 90px;

// Colors
$gray: #50545C;
$black: #141518;
$darker-black: darken($black, 30);
$darker-background-black: #6a926e;
$recipe-color: rgba(121, 210, 218, 0.5); //#79D2DA
$lightest-grey: #f7f7f7;
$light-grey: #e5e5e5;
